<form [formGroup]="form" (ngSubmit)="submit()" >
    <h1>Добавление товара</h1>
    <div
            class="form-control"
    >
        <label for="title">Название товара:</label>
        <input id="title" type="text" formControlName="title" >
        <div
                class="text"
        >
        </div>
    </div>

    <div
            class="form-control"
    >
        <label for="category">Категория:</label>
        <input id="category" type="text" formControlName="category" >

        <div class="validation"
        >
        </div>
    </div>

    <div class="form-control">
        <label>Описание:</label>
        <input id="text" type="text" formControlName="text" >
    </div>

    <div class="form-control">
        <label>Картинка:</label>
        <input type="text" formControlName="image">
    </div>

    <div class="form-control">
        <label>Цена: </label>
        <input id="cost" type="text" formControlName="cost" >
    </div>

    <button
            type="submit"
            class="btn btn-block btn-dark"
            [disabled]="form.invalid"
    >Применить</button>
</form>

<!--<div class="form-control">
    <label>Картинка:</label>
    <quill-editor formControlName="image"></quill-editor>
</div>-->
