<div class="product">
    <div class="header">
        <h1>Product title</h1>

        <button routerLink="/" class="btn btn-link">Home page</button>
    </div>

    <div class="info">
        Cost
    </div>


    <div>
        Description
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, quas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, quas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, quas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, quas.</p>
    </div>
</div>
