<div>
    <input type="text" placeholder="Поиск..." [(ngModel)]="searchStr" #search>
</div>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>
            <button class="btn btn-dark" (click)="sort('category', !direction)">Категория</button>
        </th>
        <th>
            <button class="btn btn-dark" (click)="sort('title', !direction)">Название</button>
        </th>
        <th>
            <button class="btn btn-dark" (click)="sort('cost', !direction)">Цена</button>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | sortProducts: sortStr : direction; let idx = index">
        <td>{{ idx + 1 }}</td>
        <td>{{ product.category}}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.cost }}</td>
        <td>
            <button class="btn btn-success open" [routerLink]="['/admin','product',product.id,'edit']">
                Редактировать
            </button>
            <button class="btn btn-danger" (click)="remove(product.id)">
                Удалить
            </button>
        </td>
    </tr>
    </tbody>
</table>
