<div *ngIf="products.length; else loading">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Категория</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products; let idx = index">
            <td>{{ idx + 1 }}</td>
            <td>{{ product.category}}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.cost }}</td>
            <td>
                <button class="btn-success open" [routerLink]="['product',product.id,'product-page']">
                    Просмотр
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<ng-template #loading>
    <p class="text-center text-light">
        Загрузка
    </p>
</ng-template>
